# Ignorovat macOS metadata
.DS_Store

# Ignorovat složky generované PlatformIO
.pio/
.vscode/
build/

# Ignorovat výstupy CMake (pokud nějaké máš)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Ignorovat logy, dočasné soubory a další nepotřebné věci
*.log
*.tmp
*.bak
*.swp
*.swo